<section class="menu_bar" once="menu1">
    <nav class="navbar navbar-dropdown navbar-short navbar-fixed-top">
        <div id="menu_links" class="hm-alg">
            <img src="assets/images/logo.png" />
            <span>
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn">
                    <span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#why_us">Why Us</a></li>
                <li><a href="#skills">Capabilities</a></li>
                <li><a href="#domain">Domain</a></li>
                <!-- <li><a href="#location">Location</a></li>-->
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="/careers" class="linkMenu">Careers</a></li>
                <!--<li><a href="/employees" class="linkMenu">Employees</a></li>-->


            </ul>
            </span>
        </div>
    </nav>

</section>
<div class="brd-ln-stl">
    <form id="frm-grps">
        <div class="lbl-in">
            <section class="pi-mts-lnd">

                <label for="name">Full Name</label>
                <input tabindex="1" type="text" id="name" name="name"><br>
                <div class="em-stl">
                    <label for="email">Email</label>
                    <input tabindex="3" type="text" id="email" name="email"><br><br></div>
                <label for="Rtech">Applied for(Role / Technology)</label>
                <input tabindex="5" type="text" id="rtech" name="rtech"><br><br>
                <label for="communication" class="wrt">Primary Technical Skills</label>
                <input tabindex="7" type="text" id="communication" name="communication"><br><br>
                <label for="details">Personal Details</label>
                <input tabindex="9" type="text" id="details" name="details"><br><br>
                <label for="clc">Current / Last Company</label>
                <input tabindex="11" type="text" id="clc" name="clc"><br><br>
                <label for="skill">Communication Skills</label>
                <input tabindex="13" type="text" id="skill" name="skill"><br><br>
                <label for="exp">Total years of experience</label>
                <input tabindex="15" type="text" id="exp" name="exp"><br><br>
                <label for="ctc">Current / Last CTC</label>
                <input tabindex="17" type="text" id="ctc" name="ctc"><br><br>
                <label for="ctcexp">Expected CTC</label>
                <input tabindex="19" type="text" id="ctcexp" name="ctcexp"><br><br>
                <label for="epf">Enrolled for PF?</label>
                <input tabindex="21" type="text" id="epf" name="epf"><br><br>

            </section>
            <section class="qfctn">

                <label for="qualification"> Qualifications</label>
                <input tabindex="2" type="text" id="qualification" name="qualification"><br><br>
                <label for="phnum">Phone Number</label>
                <input tabindex="4" type="text" id="phnum" name="phnum"><br><br>
                <label for="status">Application Status</label>
                <input tabindex="6" type="text" id="status" name="status"><br><br>
                <label for="sts">Secondary Technical Skills</label>
                <input tabindex="8" type="text" id="sts" name="location"><br><br>
                <label for="remarks">Additional Remarks</label>
                <input tabindex="10" type="text" id="remarks" name="remarks"><br><br>
                <label for="designation">Current/Last Designation</label>
                <input tabindex="12" type="text" id="designation" name="designation"><br><br>
                <label for="attitude">Attitude</label>
                <input tabindex="14" type="text" id="attitude" name="attitude"><br><br>
                <label for="releventxp">Total Relevent years of experience</label>
                <input tabindex="16" type="text" id="releventexp" name="releventexp"><br><br>
                <label for="mth">Monthly Take Home</label>
                <input tabindex="18" type="text" id="mth" name="mth"><br><br>
                <label for="notice">Notice Period</label>
                <input tabindex="20" type="text" id="notice" name="notice"><br><br>
                <label for="esi">Enrolled  for ESI?</label>
                <input tabindex="22" type="text" id="esi" name="esi"><br><br>
            </section>
        </div>
        <input type="submit" value="Submit" id="btn-stl">
    </form>
</div>