<div class="brd-ln-stl">
    <form id="frm-grps">
        <div class="lbl-in">
            <label for="name">Name</label>
            <input type="text" id="name" name="name"><br>
            <div class="em-stl">
                <label for="email">Email id</label>
                <input type="text" id="email" name="email"><br><br></div>
            <label for="contact">Contact Num</label>
            <input type="text" id="contact" name="contact"><br><br>
            <label for="communication" class="wrt">Communication Started Date</label>
            <input type="text" id="communication" name="communication"><br><br>
            <label for="status">Status</label>
            <input type="text" id="status" name="status"><br><br>
            <label for="action">Next Action</label>
            <input type="text" id="action" name="action"><br><br>
            <label for="technology">Position/Technology</label>
            <input type="text" id="technology" name="technology"><br><br>
            <label for="technical">Technical Knowledge</label>
            <input type="text" id="technica" name="technical"><br><br>
            <label for="details">Personal Details</label>
            <input type="text" id="details" name="details"><br><br>
            <label for="qualification">Highest Qualification</label>
            <input type="text" id="qualification" name="qualification"><br><br>
            <label for="companyname">Current Company Name</label>
            <input type="text" id="companyname" name="companyname"><br><br>
            <label for="designation">Current Designation</label>
            <input type="text" id="designation" name="designation"><br><br>
            <label for="remarks">Additional Remarks</label>
            <input type="text" id="remarks" name="remarks"><br><br>
            <label for="skill">Communication Skill</label>
            <input type="text" id="skill" name="skill"><br><br>
            <label for="attitude">Attitude</label>
            <input type="text" id="attitude" name="attitude"><br><br>
            <label for="exp">Total Exp</label>
            <input type="text" id="exp" name="exp"><br><br>
            <label for="releventxp">Relevent Exp</label>
            <input type="text" id="releventexp" name="releventexp"><br><br>
            <label for="ctc">Current Ctc</label>
            <input type="text" id="ctc" name="ctc"><br><br>
            <label for="mth">Monthly Take Home</label>
            <input type="text" id="mth" name="mth"><br><br>
            <label for="ctcexp">Ctc Expected</label>
            <input type="text" id="ctcexp" name="ctcexp"><br><br>
            <label for="fund">Provident Fund</label>
            <input type="text" id="fund" name="fund"><br><br>
            <label for="esi">ESI</label>
            <input type="text" id="esi" name="esi"><br><br>
            <label for="notice">Notice Period</label>
            <input type="text" id="notice" name="notice"><br><br>
            <label for="job">Reasons to look for a job</label>
            <input type="text" id="job" name="job"><br><br>
            <label for="location">Current Location</label>
            <input type="text" id="location" name="location"><br><br>
            <label for="native">Native</label>
            <input type="text" id="native" name="native"><br><br>
            <label for="relocate" class="wrt">Willing to relocate to Trivandrum(Y/N)</label>
            <input type="text" id="relocate" name="relocate"><br><br>
            <label for="internet" class="wrt">Internet readiness(Broadband/Mobile)</label>
            <input type="text" id="internet" name="internet"><br><br>
            <label for="inverter">Inverter Availability(Y/N)</label>
            <input type="text" id="inverter" name="inverter"><br><br>
            <div class="irp">
                <label for="laptop">Infrastructure readiness - Personal laptop availability</label>
                <input type="text" id="laptop" name="laptop"><br><br></div>
            <label for="edu10">Education-10th</label>
            <input type="text" id="edu10" name="edu10"><br><br>
            <label for="edu12">Education-12th</label>
            <input type="text" id="edu12" name="edu12"><br><br>
            <label for="graduation">Graduation - College</label>
            <input type="text" id="graduation" name="graduation"><br><br>
            <label for="branch">Branch</label>
            <input type="text" id="branch" name="branch"><br><br>
            <label for="graduate">Graduation (%)</label>
            <input type="text" id="graduate" name="graduate"><br><br>
            <label for="backlogs">No.of Backlogs</label>
            <input type="text" id="backlogs" name="backlogs"><br><br>
        </div>
        <input type="submit" value="Submit" id="btn-stl">
    </form>
</div>