<div class="brd-ln-stl">
    <form id="frm-grps">
        <div class="lbl-in">
            <section class="pi-mts-lnd">

                <label for="name">Full Name</label>
                <input type="text" id="name" name="name"><br>
                <div class="em-stl">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email"><br><br></div>
                <label for="Rtech">Applied for(Role / Technology)</label>
                <input type="text" id="rtech" name="rtech"><br><br>
                <label for="communication" class="wrt">Primary Technical Skills</label>
                <input type="text" id="communication" name="communication"><br><br>
                <label for="details">Personal Details</label>
                <input type="text" id="details" name="details"><br><br>
                <label for="clc">Current / Last Company</label>
                <input type="text" id="clc" name="clc"><br><br>
                <label for="skill">Communication Skills</label>
                <input type="text" id="skill" name="skill"><br><br>
                <label for="exp">Total years of experience</label>
                <input type="text" id="exp" name="exp"><br><br>
                <label for="ctc">Current / Last CTC</label>
                <input type="text" id="ctc" name="ctc"><br><br>
                <label for="ctcexp">Expected CTC</label>
                <input type="text" id="ctcexp" name="ctcexp"><br><br>
                <label for="epf">Enrolled for PF?</label>
                <input type="text" id="epf" name="epf"><br><br>

            </section>
            <section class="qfctn">

                <label for="qualification"> Qualifications</label>
                <input type="text" id="qualification" name="qualification"><br><br>
                <label for="phnum">Phone Number</label>
                <input type="text" id="phnum" name="phnum"><br><br>
                <label for="status">Application Status</label>
                <input type="text" id="status" name="status"><br><br>
                <label for="sts">Secondary Technical Skills</label>
                <input type="text" id="sts" name="location"><br><br>
                <label for="remarks">Additional Remarks</label>
                <input type="text" id="remarks" name="remarks"><br><br>
                <label for="designation">Current/Last Designation</label>
                <input type="text" id="designation" name="designation"><br><br>
                <label for="attitude">Attitude</label>
                <input type="text" id="attitude" name="attitude"><br><br>
                <label for="releventxp">Total Relevent years of experience</label>
                <input type="text" id="releventexp" name="releventexp"><br><br>
                <label for="mth">Monthly Take Home</label>
                <input type="text" id="mth" name="mth"><br><br>
                <label for="notice">Notice Period</label>
                <input type="text" id="notice" name="notice"><br><br>
                <label for="esi">Enrolled  for ESI?</label>
                <input type="text" id="esi" name="esi"><br><br>
            </section>
        </div>
        <input type="submit" value="Submit" id="btn-stl">
    </form>
</div>