@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css";
body {
    font-family: calibri light;
    padding: 0;
}

.flex-caption {
    background: tomato;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 1em;
}

.flexslider .slides img {
    width: 100%;
    border-radius: unset;
    left: 0px;
    right: 0px;
}

.navbar {
    height: 100px;
    background: white;
}

.navbar-fixed-top.scrolled {
    background-color: white !important;
    transition: background-color 200ms linear;
}

.cid-rVs3LKglxt {
    background-color: #00243e;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-fixed-top.scrolled .menu a {
    color: #0d093e;
}

.slider_tag {
    position: absolute;
    z-index: 1000000;
    top: 20%;
    width: 100%;
}

.slider_tag span {
    margin: 0 auto;
    font-size: 33px;
    line-height: 1.3;
}

#tag1 {
    font-family: sans-serif;
    color: black;
    padding: 12px;
    background: white;
    opacity: 0.8;
    width: 292px;
    position: absolute;
    left: 880px;
    top: 39px;
}

#tag2 {
    font-family: sans-serif;
    color: black;
    padding: 12px;
    background: white;
    opacity: 0.8;
    margin-left: 41px;
    margin-top: 140px;
    display: flex;
    width: 413px;
    justify-content: center;
}

#tag3 {
    font-family: sans-serif;
    color: black;
    padding: 4px;
    background: white;
    opacity: 0.8;
    display: flex;
    width: 413px;
    justify-content: center;
    background-color: none !important;
    position: absolute;
    left: 774px;
    bottom: -38px;
}

#error {
    color: red;
}

.logo {
    padding: 30px;
    width: 20%;
    font-family: calibri light;
    color: dodgerblue;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 21px;
}

.logo:hover {
    color: dodgerblue;
    text-decoration: none;
}

.menu_bar img {
    width: 130px;
    height: 50px;
    margin-top: 16px;
}

#menu_links {
    border-bottom: none !important;
    background: none !important;
}

#menu_links span {
    width: 80%;
}

.menu {
    list-style-type: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    /*bottom: 20px;*/
}

.menu a {
    display: block;
    padding: 27px;
    color: inherit !important;
    text-decoration: none;
    font-weight: 500;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.menu a:hover {
    color: dodgerblue;
    transition: transform 450ms ease-in-out;
    transform: scaleX(1.1);
}

.menu li.active a {
    border-radius: 6px;
    padding: 12px;
    margin-top: 15px;
    color: dodgerblue !important;
    transition: transform 450m cubic-bezier(0.6, 0.28, 0.74, 0.05);
    transform: scaleX(1.1);
    background: #fbfbfb;
}

.Corporate_address_justify {
    position: relative;
}

.Corporate_address_justify h3 {
    font-size: 30px;
}

.contact_us {
    text-align: center;
    padding: 44px;
}

.contact_us h1 {
    font-weight: 600;
}

.contact_us p {
    font-size: 20px;
    line-height: 2.6;
}

input[type=text] {
    width: 475px;
    height: 47px;
    padding: 15px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    padding: 1rem 0.7rem;
    transition: 0.1s ease-out;
}

textarea {
    width: 475px;
    height: 123px;
    margin: 6px 0;
    outline: none;
    font-size: 17px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-top: 44px;
}

input[type=button] {
    width: 149px;
    font-size: 14px;
    background-color: dodgerblue;
    color: white;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
}

.form_justify {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

input[type=button] {
    background-color: #1976d2;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 17px;
}

input[type=button]:hover {
    background-color: rgb(17, 82, 147);
    transition: all 250ms linear;
}

.container {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline: none;
    border-color: dodgerblue;
}

input:focus+label {
    color: dodgerblue;
    top: 8px;
    transform: translateY(-50%) scale(.9);
    background: white;
}

textarea:focus {
    border-color: dodgerblue;
}

textarea:focus+label {
    top: 7px;
    color: dodgerblue;
}

input:not(:placeholder-shown)+label {
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.material-textfield {
    position: relative;
}

.msg_justify {
    position: relative;
    top: 50px;
}

#menu_links {
    position: sticky;
    overflow: hidden;
    background-color: #fff;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid orange;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.address_justify address {
    font-style: normal;
    color: black;
    font-size: 19px;
    line-height: 2;
}

.header_image {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.carousel-item {
    height: 400px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
}

label {
    position: absolute;
    font-size: 1rem;
    /*left: 0;
    top: 45%;
    transform: translateY(-50%);*/
    left: 200px;
    transform: translateY(83%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
}

.cid-swtfTArgJ9 {
    padding-top: 50px;
    padding-bottom: 90px;
    position: relative;
    background-color: #e6f4fe;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.cid-swtfTArgJ9 H2 {
    color: #333333;
}

.cid-swtfTArgJ9 .mbr-section-text {
    color: #999999;
}

.cid-swtfTArgJ9 p {
    padding: 0;
    letter-spacing: 0px;
}

.pb-4 {
    padding-bottom: 1.5rem!important;
}

.cid-swtfTArgJ9 .card {
    border-radius: 0px;
    margin-bottom: -1px;
}

.cid-swtfTArgJ9 .card .card-header {
    border-radius: 0px;
    margin: 0.5rem 0;
    border: 0px;
    background: #ffffff;
    padding: 0;
}

.cid-swtfTArgJ9 .card .card-header a.panel-title {
    margin-bottom: 0;
    margin-top: -1px;
    font-style: normal;
    text-decoration: none !important;
    line-height: normal;
    width: 1100px;
    padding: 20px;
}

.cid-swtfTArgJ9 .collapsed {
    border: none;
}

.cid-swtfTArgJ9 .panel-title {
    border-bottom: none;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.cid-swtfTArgJ9 .panel-text {
    font-size: 15px;
}

[role=button] {
    cursor: pointer;
}

.collapse:not(.show) {
    display: none;
}

.display-2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
}

.mbr-semibold {
    font-weight: 600;
}

.mbr-section-title {
    font-style: normal;
    display: flex;
    justify-content: center;
}

.pb-3 {
    padding-bottom: 1rem!important;
}

.mbr-section-subtitle {
    letter-spacing: 0.1rem;
    width: 460px;
}

.mbr-light {
    font-weight: 200;
}

.cid-swtbF1J2g5 {
    width: 95%;
    margin-left: 34px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.cid-swtbF1J2g5 .card-wrapper:hover,
.cid-swtcNOlTba .card-wrapper:hover,
.cid-swtcOCKOAw .card-wrapper:hover {
    background: #edf8ff;
}

.card {
    background-color: transparent;
    border: none;
}

.cid-swtbF1J2g5 .card-wrapper,
.cid-swtcNOlTba .card-wrapper,
.cid-swtcOCKOAw .card-wrapper {
    overflow: visible;
    display: flex;
    padding: 3rem;
    transition: all 0.3s;
    border-radius: 3rem;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
}

.card-wrapper {
    -webkit-flex: 1;
}

.cid-swtbF1J2g5 .mbr-iconfont,
.cid-swtcNOlTba .mbr-iconfont,
.cid-swtcOCKOAw .mbr-iconfont {
    font-size: 3rem;
    color: #0196e3;
    padding: 2.5rem;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    border-radius: 50%;
}

.m-auto {
    margin: auto!important;
}

[class^="mbri-"],
[class*=" mbri-"] {
    font-family: MobiriseIcons !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cid-swtbF1J2g5 .card-box {
    margin: auto;
    padding-left: 3rem;
}

.card-box {
    width: 100%;
}

.cid-swtbF1J2g5 .card-title {
    color: #0196e3;
}

.display-5 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.375rem;
    line-height: 1.3;
}

#skills_justify {
    display: flex;
}

#skills_justify h1 {
    display: flex;
    justify-content: center;
}

#skills_justify h3 {
    font-size: 21px;
    margin-right: 93px;
    color: #999999;
}

.cid-swtbF1J2g5 .card-text {
    color: #6c758f;
}

.display-7 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    line-height: 2;
}

.cid-swtcNOlTba {
    width: 95%;
    margin-left: 34px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cid-swtbF1J2g5 .row,
.cid-swtcNOlTba .row,
.cid-swtcOCKOAw .row {
    margin: 0 -2rem;
}

#skills_justify .row {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#skills_justify .align-center {
    margin-left: 0;
}

.row {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center!important;
}

.cid-swtcNOlTba .col-lg-6,
.cid-swtcOCKOAw .col-lg-6,
.cid-swtbF1J2g5 .col-lg-6 {
    padding: 0 2rem;
}

.cid-swtcOCKOAw {
    width: 95%;
    margin-left: 34px;
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.cid-swtjrf6VEk {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #f3f3ff;
}

.align-center {
    text-align: center;
    margin-left: 14px;
}

.display-2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
}

.mbr-bold {
    font-weight: 600;
}

.cid-swtjrf6VEk .main-subtitle {
    color: #999999;
    font-size: 18px;
}

.display-7 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    line-height: 2;
}

.mbr-regular {
    font-weight: 400;
}

.cid-swtjrf6VEk .card,
.cid-swtjALlfCj .card {
    overflow: visible;
}

.cid-swtjrf6VEk .card-wrapper,
.cid-swtjALlfCj .card-wrapper {
    background-color: #ffffff;
    transition: all 0.3s;
    width: 100%;
}

.cid-swtjALlfCj .card-wrapper {
    padding: 0rem;
}

.cid-swtjALlfCj {
    padding-top: 0px;
    padding-bottom: 60px;
    background-color: #f3f3ff;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.cid-swtjrf6VEk .card-text {
    color: #999999;
}

.card-text:last-child {
    margin-bottom: 0;
}

.display-4 {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
}

.cid-swtjALlfCj .card-title,
.cid-swtjALlfCj .card-box {
    text-align: center;
}

.cid-swtjALlfCj .card-box {
    border: 1px solid transparent;
    transition: all 0.3s;
    padding: 1rem 0rem;
}

.card-box {
    width: 100%;
}

#domain_justify {
    display: flex;
}

.pb-5 {
    padding-bottom: 3rem!important;
}

#domain_justify {
    display: block;
}

.contact_justify h3::after {
    border-bottom: 2px solid gray;
    content: '';
    width: 225px;
    display: block;
}

#menu_links .menu-btn {
    display: none;
}

.btn-social {
    color: black;
    border-color: black;
}

.btn {
    font-size: 1rem;
    font-family: 'Libre Franklin', serif;
    transition: all .3s ease-in-out;
}

.btn-social {
    font-size: 18px;
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    border: 1px solid black;
    margin-left: 12px;
}

.btn-social i {
    top: 0;
    line-height: 36px;
    width: 36px;
}

.socicon {
    position: relative;
    display: inline-block;
    font-family: 'socicon';
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    -webkit-font-smoothing: antialiased;
}

.socicon-facebook:before {
    content: "f";
}

.socicon-linkedin:before {
    content: "in";
}

.icon {
    display: flex;
    position: relative;
}

.icon-title {
    font-size: 22px;
}

.icon-justify {
    position: relative;
    bottom: 2px;
}

#crd-algn {
    padding-left: 3rem;
}

#crd-algn h4 {
    color: dodgerblue;
}

#crd-algn h5 {
    color: #6c758f;
}

#crd-clr p {
    color: #999999;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 57%;
    }
    .slider_tag span {
        font-size: 8px;
    }
    .tech_set_first {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .contact_justify {
        flex-direction: column;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 146px;
    }
    .contact_justify h1 {
        font-size: 20px;
        line-height: 1.6;
        padding: 0px;
    }
    .contact_us {
        padding: 15px;
    }
    .Corporate_address_justify {
        position: relative;
        left: 103px;
    }
    .contact_justify p {
        font-size: 13px;
        line-height: 1.6;
    }
    .contact_justify h3 {
        font-size: 16px;
    }
    .Address_contents {
        margin-left: 57px;
    }
    .Address_contents h3 {
        font-weight: unset;
    }
    .address_justify {
        font-size: 12px;
    }
    .address_justify address {
        font-size: 13px;
        width: 145px;
    }
    input[type=text] {
        width: 258px;
    }
    textarea {
        width: 258px;
    }
    .form_justify form {
        align-items: center;
    }
    .form_justify {
        margin-top: 0px;
        top: 200px;
        right: 72px;
    }
    .btn-social {
        width: 18px;
        height: 18px;
        margin-left: 7px;
    }
    .btn-social i {
        line-height: 0px;
        width: 11px;
        font-size: 11px;
        top: -8px;
        right: 0px;
    }
    .socicon .socicon-linkedin {
        right: 4px;
    }
    .mbr-bold {
        display: flex;
        justify-content: center;
        font-size: 23px;
    }
    #skills_justify h1 {
        justify-content: center;
        font-size: 20px;
    }
    #skills_justify h3 {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        font-size: 18px;
    }
    .card-wrapper {
        margin-top: 10px;
    }
    .cid-swtfTArgJ9 H2 {
        font-size: 18px;
    }
    .cid-swtfTArgJ9 .mbr-section-text {
        line-height: 0.7;
        font-size: 16px;
    }
    #tag2 {
        position: absolute;
        top: -101px;
        left: -16px;
        padding: 5px;
        width: 100px;
    }
    .menu_bar img {
        width: 46px;
        height: 15px;
        margin-top: 9px;
    }
    .navbar {
        height: 51px;
    }
    #tag1 {
        position: absolute;
        top: 12px;
        left: 240px;
        padding: 3px;
        width: 74px;
    }
    #tag3 {
        display: block;
        position: absolute;
        left: 226px;
        width: 106px;
        bottom: -30px;
    }
    .cid-swtfTArgJ9 .card .card-header a.panel-title {
        width: 386px;
        height: 50px;
    }
    .cid-swtfTArgJ9 span {
        font-size: 0.9rem;
    }
    .cid-swtfTArgJ9 .panel-text {
        font-size: 11px;
        margin-left: 12px;
    }
    .cid-swvkMfkXqJ {
        position: relative;
        bottom: 50px;
    }
    .cid-swtjrf6VEk {
        position: relative;
        bottom: 161px;
    }
    .cid-swtjALlfCj {
        position: relative;
        bottom: 180px;
    }
    .cid-swtbF1J2g5 .card-wrapper,
    .cid-swtcNOlTba .card-wrapper,
    .cid-swtcOCKOAw .card-wrapper {
        position: relative;
        right: 24px;
        bottom: 99px;
        padding: 23px;
    }
    .cid-swtbF1J2g5 .card-title,
    .cid-swtcNOlTba .card-title,
    .cid-swtcOCKOAw .card-title {
        font-size: 20px;
    }
    .cid-swtbF1J2g5 .card-text,
    .cid-swtcNOlTba .card-text,
    .cid-swtcOCKOAw .card-text {
        font-size: 18px
    }
    .align-center {
        margin-left: 0;
    }
    .cid-swtjrf6VEk .card-wrapper {
        position: relative;
        width: 329px;
        padding: 0rem;
        margin-left: -14px;
    }
    .cid-swtjALlfCj .card-wrapper {
        margin-left: -1px;
        width: 328px;
    }
    .cid-swtjrf6VEk .card-title,
    .cid-swtjALlfCj .card-title {
        font-size: 17px;
    }
    .mapouter {
        position: relative;
        bottom: -49px;
    }
    .cid-swtbF1J2g5 .card-box {
        padding-left: 1rem;
    }
    .display-7 {
        font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
    }
    .contact_justify h1::after {
        width: 92px;
        margin-top: 6px;
    }
    .contact_justify h3::after {
        width: 117px;
    }
    .icon {
        left: 103px;
        bottom: 11px;
    }
    .icon-title {
        font-size: 13px;
    }
    .cid-rVs3LKglxt {
        margin-top: 50px;
    }
    .contact_content section {
        padding-left: 0px !important;
    }
    #skills_justify .row {
        margin-top: 84px;
    }
    #menu_links {
        width: 80%;
        overflow: unset;
    }
}

.flex-direction-nav {
    display: none;
}

.form_justify form {
    display: flex;
    flex-direction: column;
}

#clr-fnt {
    color: #ffffff;
}

.cid-swtjrf6VEk .card-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width: 600px) {
    #menu_links li a {
        padding: 6px 16px;
        display: block;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }
    #menu_links .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        position: relative;
    }
    .menu a {
        font-size: 11px;
    }
    #menu_links span {
        width: auto;
    }
    #menu_links ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }
    #menu_links li a:hover,
    #menu_links .menu-btn:hover {
        background-color: #f4f4f4;
    }
    #menu_links .menu-icon {
        display: none;
    }
    #menu_links .menu-icon {
        cursor: pointer;
        display: inline-block;
        left: 100px;
        position: relative;
        user-select: none;
        padding: 0px;
        background: transparent;
    }
    .navbar-fixed-top.scrolled .menu a {
        color: #000;
    }
    #menu_links .menu-icon .navicon {
        background: dodgerblue;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
    #menu_links .menu-icon .navicon:before,
    #menu_links .menu-icon .navicon:after {
        background: dodgerblue;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    #menu_links .menu-icon .navicon:before {
        top: 5px;
    }
    .menu li.active a {
        margin-top: 0;
        transform: unset;
    }
    #menu_links .menu-icon .navicon:after {
        top: -5px;
    }
    #menu_links .menu-btn {
        display: none;
    }
    #menu_links .menu-btn:checked~.menu {
        max-height: 240px;
    }
    #menu_links .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    #menu_links .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    #menu_links .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    #menu_links .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    #menu_links .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    body {
        width: 384px !important;
    }
    .cid-swtfTArgJ9 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #jst-cnt {
        position: relative;
        bottom: 40px;
    }
}

.contact_justify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
}

.contact_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact_content section {
    padding-left: 135px;
}

.form_justify #error {
    padding-left: 15px;
}