@font-face {
    font-family: league;
    /* src: url(../../assets/fonts/LeagueGothic-Regular.woff) format("opentype"); */
}

@font-face {
    font-family: Alex Brush;
    /* src: url(../../assets/fonts/AlexBrush-Regular.woff) format("opentype"); */
}

@font-face {
    font-family: 'MobiriseIcons';
    /*src: url('./mobirise-icons.eot?spat4u');
    src: url('./mobirise-icons.eot?spat4u#iefix') format('embedded-opentype'), url('./mobirise-icons.ttf?spat4u') format('truetype'), url('./mobirise-icons.woff?spat4u') format('woff'), url('./mobirise-icons.svg?spat4u#MobiriseIcons') format('svg');*/
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.open-button {
    position: fixed;
    background-color: #555;
    color: #fff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    bottom: 200px;
    right: 28px;
    width: 280px;
    position: fixed;
    z-index: 1;
}

.form-popup {
    display: flex;
    position: fixed;
    bottom: 0;
    border: 3px solid #383737;
    z-index: 9;
    overflow: scroll;
    max-height: 89vh;
    top: 70px;
    min-height: auto;
    background: #f1f1ec;
    justify-content: center;
    left: 214px;
    right: 200px;
    padding-right: 50px;
}

.form-container {
    padding: 45px 100px;
    max-width: 100%;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    outline: none;
}

.form-container .btn-jfy {
    background: #21384a;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 310px;
    margin-bottom: 10px;
    margin-left: 28px;
    border-radius: 3px;
}

.form-container .cancel {
    background: #21384a;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-popup input {
    width: 444px;
    height: 37px !important;
    padding: 4px;
    border: none;
    color: #000;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 1px;
}

.form-popup .radio input {
    margin-right: 7px;
    width: 18px !important;
}

.form_grp {
    display: flex;
    flex-direction: row;
    margin-bottom: 17px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-popup label {
    text-align: left;
    -webkit-font-smoothing: antialiased;
    color: var(--ag-foreground-color, #181d1f);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    margin-bottom: 6px;
    margin-top: 6px;
    line-height: normal;
    width: 126px;
    margin-right: 10px;
    font-weight: 400 !important;
}

.btn:not(:disabled):not(.disabled) {
    font-size: 20px;
}

.frm-hd {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 18px;
    font-weight: 600;
    color: var(--ag-foreground-color, #181d1f);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.frm-sub {
    font-size: 19px;
    color: grey;
}

.hd-btm {
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    margin-top: 44px;
    line-height: 2rem;
}

.sub-btm a {
    color: grey;
    text-decoration: underline;
}

.sub-btm {
    color: grey;
}

.form_grp textarea {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 59px;
    resize: none;
    width: 444px;
    border: none;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 1px;
    -webkit-font-smoothing: antialiased;
    color: var(--ag-foreground-color, #181d1f);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400 !important;
    line-height: 1.1rem;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 0%;
    padding: 20px 16px;
    transform: translate(0%, -50%);
    font-size: 36px;
}

.tel-fon {
    display: flex;
}

.btm-jfy {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.radio-jfy {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 438px;
}

.radio-jfy input {
    width: 18px;
    height: 18px;
    display: flex;
    border: 1px solid lightslategrey;
}

.radio-jfy label {
    width: auto;
    position: relative;
    line-height: 1rem;
    margin-right: 12px;
}

.selection-cont {
    display: flex;
    align-items: center;
    padding-top: 4px;
    margin-left: 41px;
}

.sb-hd {
    display: flex;
    padding-top: 3px;
    padding-bottom: 0;
    width: 145px;
    -webkit-font-smoothing: antialiased;
    color: var(--ag-foreground-color, #181d1f);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: 400 !important;
}

.radio {
    display: flex;
    align-items: center;
    padding-top: 0;
}

.radio span {
    text-align: left !important;
}

.btn-jfy {
    margin-top: 13px;
}

.btm-jfy input {
    height: 50px;
}

.wrapper {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
    width: 100%;
    align-items: center;
    min-height: 71px;
    justify-content: center;
    font-size: 14px;
}

.page-header,
.ft-btn-jfy {
    flex-shrink: 0;
    margin-bottom: 0;
}

.ft-btn-jfy {
    height: 37px;
    border: 2px solid #fff;
    background: #FFFFFF;
    color: #000000;
    margin-left: 165px;
    margin-bottom: 6px;
    padding-left: 18px;
    padding-right: 13px;
    letter-spacing: 3px;
}

.ft-btn-jfy:hover {
    opacity: 0.7;
}

.page-body {
    margin-left: 22px;
}

.wrap-btn-jfy {
    width: 70px;
    height: 37px;
    border-radius: 5px;
    border: none;
}

button:focus {
    outline: none;
}

.btn-danger,
.btn-danger:active {
    background: #21384a !important;
    border: none;
}

.ft-butt-ctr {
    margin-top: 25px;
}

.mbr-overlay {
    z-index: 1;
    opacity: 0.6;
    background-color: rgb(106, 54, 73);
}

.mbr-fullscreen .mbr-overlay {
    height: 100%;
}

.mbr-overlay {
    background-color: #000;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
}

#menu_links span {
    width: 100%;
    font-weight: 800;
}

a.text-black:hover,
a.text-black:focus {
    color: #4d4d4d !important;
}

.nav-link {
    position: relative;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s;
}

.nav-link:hover:before {
    /*width: 100%;
    right: auto;
    left: 0;*/
    width: 77%;
    left: 14px;
    right: 9px;
}

.nav-link:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: auto;
    right: 0;
    transition: all 0.4s ease-in-out;
    background: currentColor;
    bottom: 28px;
    /* content: '';
    position: absolute;
    height: 1px;
    width: 77%;
    left: 14px;
    right: 9px;
    transition: all 0.4s ease-in-out;
    background: currentColor;
    bottom: 32px;*/
}

a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.navbar-nav {
    flex-wrap: wrap;
}

.navbar-nav {
    justify-content: center;
    width: -webkit-fill-available;
}

.icons-menu {
    flex-wrap: wrap;
    min-width: 207px;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.3rem;
    text-align: center;
}

.p-2 {
    padding: .5rem!important;
}

.icons-menu span {
    font-size: 25px;
}

.mbr-iconfont {
    color: #000000 !important;
}

[class^="socicon-"],
[class*=" socicon-"] {
    font-family: 'Socicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@media all and (max-width:768px) {
    .form-popup {
        left: 14px;
        right: 18px;
    }
    .form-container {
        max-width: 370px;
        padding: 58px;
    }
    .frm-hd {
        font-size: 24px;
    }
    .form-popup label {
        font-size: 14px;
        width: 245px;
    }
    .form-container .btn-jfy {
        width: 128px;
    }
    .selection-cont {
        display: unset;
    }
    .radio-jfy {
        display: unset;
    }
    .radio-jfy input {
        margin-left: 65px;
    }
    .radio {
        margin-left: -20px;
    }
    .ng-autocomplete {
        margin-right: 7px;
    }
    .cid-sBfbsGUJlc {
        background-size: cover;
        height: 10vh;
        min-height: 30vh;
    }
    .suggestion {
        font-size: 11.5px !important;
        width: 303px !important;
        margin-left: 6px !important;
    }
    .ft-btn-jfy {
        margin-left: 0px;
        padding-left: 2px;
        padding-right: 0px;
        letter-spacing: 1px;
        font-size: 12px;
        height: 28px;
        margin-bottom: 16px;
    }
    #fcp-jfy {
        margin-top: 40px !important;
    }
}

.ng-autocomplete {
    width: 444px;
}

.form_grp textarea:focus {
    border: 1px solid dodgerblue;
}

.form-popup input:focus {
    border: 1px solid dodgerblue;
}

.input-container {
    border: 1px solid dodgerblue !important;
}

.captchaCont {
    display: flex;
    justify-content: center;
    background: transparent;
    padding-left: 20px;
}

#av-consent-extra-info,
#impressum-popup {
    flex-direction: column;
    width: 900px;
    display: flex;
    position: fixed;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    overflow: scroll;
    max-height: 89vh;
    top: 70px;
    left: 18%;
    background: #f1f1ec;
    min-height: auto;
    padding: 33px;
}

#impressum-popup {
    background: #f1f1ec;
}

#av-consent-extra-info section {
    background: #f1f1ec;
}

.suggestion {
    display: inline;
    color: var(--ag-foreground-color, #181d1f);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.15rem;
    margin-left: 0;
    text-align: left;
    width: 441px;
    word-break: normal;
    margin-top: 16px;
    float: left;
}

#subsc-jus strong {
    display: flex;
    justify-content: center;
    font-family: Alex Brush !important;
    font-size: 86px;
}

#subsc-jus span {
    font-size: 17.5px;
    font-family: jost, sans-serif;
    justify-content: center;
}

#mtn-jus {
    text-align: center !important;
    font-size: 86px;
    font-family: Alex Brush;
}

#ua-jus {
    font-size: 86px;
    font-family: Alex Brush;
}

#unp-jst {
    color: #000;
    font-family: Alex Brush !important;
    font-size: 86px;
}

.fullsize-tab {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#btn-stl {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#btn-stl:hover {
    background-color: rgb(24, 69, 122)!important;
    opacity: 2.5;
}

.material-textfield label {
    left: 0;
    top: 45%;
    transform: translateY(-50%);
}

.vd-bt-jst {
    background: #21384a;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 310px;
    margin-bottom: 10px;
    margin-left: 210px;
    border-radius: 3px;
}

.vd-bt-jst:hover {
    background-color: rgb(24, 69, 122)!important;
    opacity: 2.5;
}

.imp-cnt-jfy span {
    font-size: 20px !important;
    font-family: jost, sans-serif;
}

.imp-hd span {
    font-family: jost, sans-serif;
    font-size: 40px !important;
    font-weight: 600;
}

.hd-jfy p {
    font-size: 20px;
    line-height: 1.2rem;
    font-family: jost, sans-serif;
}

.dp-jfy {
    color: #fff;
    position: absolute;
    bottom: 288px;
    font-size: 28px;
    display: flex;
    left: 100px;
    width: 176px;
    line-height: 1.5;
    text-align: right;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px #393b39;
    letter-spacing: 9px;
    font-weight: 500;
}

.dvw-jfy {
    color: #fff;
    position: absolute;
    bottom: 150px;
    font-size: 108px;
    display: flex;
    left: 319px;
    line-height: 1.1;
    text-align: left;
    font-family: league;
    text-transform: uppercase;
    letter-spacing: 14px;
    width: 560px;
    color: #FFFFFF;
    letter-spacing: 18px;
    text-shadow: #393b39 7px 1px 0px, #708070 12px 5px 0px;
}

#en-btn-hv:hover {
    background-color: rgb(24, 69, 122)!important;
    opacity: 2.5;
}

.btn-jfy:hover {
    background-color: rgb(24, 69, 122)!important;
    opacity: 2.5;
}

.pic-cont-jfy img {
    width: 12% !important;
    height: 118px;
}

.pic-cont-jfy {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pic-cont-jfy p {
    width: 699px;
    justify-content: center;
    margin-left: 54px;
    margin-top: 20px;
    line-height: 1.3rem;
    font-family: jost, sans-serif;
}

.suggestion p {
    line-height: 1.2rem;
}

.unp-bg-cl {
    background-color: #9DBCBE !important;
}

.unp-bg-cl p {
    text-align: left;
}

.ft-cl {
    background-color: #245064;
}

#fcp-jfy {
    margin-top: 80px;
}

#sp-jfy {
    border-right: 1px solid rgb(168, 168, 167);
    height: 80px;
}

.fa {
    padding: 6px;
    font-size: 20px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #f40083;
    color: white;
}

.ft-alg-sect {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.kt-alg {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 2.5rem;
}

.fe-us-aln {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 22px;
    line-height: 2.5rem;
}

.ml-stl a {
    color: #FFFFFF;
}

textarea.form-control {
    line-height: 1rem !important;
}

@media all and (max-width:768px) {
    .dp-jfy {
        left: -46px !important;
        letter-spacing: 6px !important;
        bottom: 145px !important;
        font-size: 19px !important;
    }
    .dvw-jfy {
        bottom: 84px;
        font-size: 53px;
        left: 145px;
        width: 252px;
        letter-spacing: 10px;
    }
    #header-styl {
        height: 276px;
    }
    #ua-mb-styl {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #ua-jus,
    #mtn-jus,
    #unp-jst,
    #subsc-jus strong {
        font-size: 40.6px;
    }
    .vd-bt-jst {
        margin-left: 33px;
    }
    #cnt-styl {
        text-align: left;
        width: 400px;
    }
    #fcp-jfy p {
        text-align: left !important;
    }
    .pic-cont-jfy img {
        width: 29% !important;
        height: 95px;
        margin-top: 72px;
    }
    .pic-cont-jfy p {
        width: 255px;
        margin-left: 28px;
    }
    .cn-alg {
        margin-top: -40px;
    }
    #lg-mb-stl {
        width: 335px;
        font-size: 13px;
    }
    #unp-cnt-alg {
        font-size: 16px;
        margin-left: 40px;
        width: 345px;
    }
    #mt-jst {
        padding-top: 2rem;
    }
    #mt-jst h4 {
        font-size: 16px;
    }
    select {
        min-width: 321px;
    }
    .form-popup input {
        margin-right: 0px;
        width: 321px;
    }
    #sp-jfy {
        height: 70px
    }
    .ft-alg-sect {
        display: flex;
        width: 100%;
        height: 115px;
    }
    .kt-alg {
        font-size: 16px;
    }
    .ml-stl {
        font-size: 11px;
    }
    .fe-us-aln {
        font-size: 15px;
    }
    .fa {
        padding: 0px;
        width: 22px;
    }
    .open-button {
        bottom: 113px;
        right: 5px;
    }
    .form_grp {
        display: unset;
    }
    .form_grp textarea {
        width: 321px;
        font-size: 12px;
        line-height: 1rem;
    }
    .form-popup .radio input {
        width: 22px;
    }
    textarea.form-control {
        line-height: 1rem !important;
    }
    .captchaCont {
        padding-left: 56px;
    }
    .container {
        display: unset;
    }
    .p-3 {
        padding: 1rem 1rem!important;
    }
    #clr-fnt {
        margin-left: 50px;
        margin-top: -21px;
    }
    #footer02-d {
        height: 50px;
    }
    #cnt-styl .card {
        margin-right: 69px;
        margin-left: 85px !important;
    }
    #skl-lvl p {
        font-size: 15px;
        width: 100%;
    }
    #crd-alg {
        width: 76% !important;
    }
}

@media (min-width: 576px) {
    .col-sm-8 {
        flex: 0 0 64.666667%;
        max-width: 64.666667%;
    }
}


/* .mbr-iconfont {
    font-size: 4rem;
    color: #000000;
    width: 100px;
    height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 1rem;
} */

.card-box {
    width: 100%;
}

.card-wrapper,
.item-wrapper {
    overflow: hidden;
}

.card-title {
    position: relative;
    cursor: pointer;
}

.display-7 {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.1rem;
    /*line-height: 1.5;*/
}

.card-title {
    margin-bottom: .75rem;
}

.card-text {
    color: #999999;
}

.card-text:last-child {
    margin-bottom: 0;
}

#stl-al:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    transition: all 0.4s ease-in-out;
    background: currentColor;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

#stl-al:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: currentColor;
    bottom: 0px;
    opacity: 0.1;
    left: 0;
}

#stl-al:hover:before {
    width: 100%;
}

.card:hover {
    cursor: pointer;
}

.card:hover #stl-al:before {
    width: 100%;
}

#skl-lvl p {
    font-size: 15px;
    font-family: 'Be Vietnam', sans-serif;
    color: #515151;
    width: 95%;
}

#skl-lvl h5 {
    font-size: 16px;
    font-family: 'Be Vietnam', sans-serif;
    color: #000000;
    width: 160px;
    text-align: center;
}


/*#jst-cnt {
    display: flex;
    justify-content: space-between;
}*/

.fa {
    font-size: 38px;
    width: 105px;
    margin: 5px 25px;
}

.container {
    align-items: unset;
}


/*#cnt-styl .card {
    border-radius: 18%;
    margin-bottom: 37px;
    margin-left: 31px;
    border: 1px solid lightgray;
}

#cnt-styl .card:hover {
    border: 1px solid dodgerblue;
}*/

#bx-hr-eft:hover {
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #f3f3ff;
    transform: scale(1.01, 1.01);
}

#bx-hr-eft {
    padding: 20px 20px 20px 20px;
}

#crd-alg {
    width: 40%;
    margin-right: 2.75rem;
    margin-bottom: 2.75rem;
}

#crd-alg h5 {
    color: inherit !important;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    padding: 12px;
}

.menu li.active a {
    border-radius: 6px;
    /*padding: 12px;
    margin-top: 15px;*/
    padding: 25px;
    margin-top: 4px;
    color: dodgerblue !important;
    transition: transform 450m cubic-bezier(0.6, 0.28, 0.74, 0.05);
    transform: unset;
    background: unset;
}

.menu a:hover {
    color: unset;
    transition: unset;
    transform: unset;
}

.cid-rVtXUpDj2u {
    padding-top: 120px;
    padding-bottom: 135px;
    background-color: #f6f3f3;
}

.display-2 {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.8rem;
}

#container-algn {
    display: block;
}

.cid-rVtXUpDj2u .card {
    overflow: visible;
}

.card {
    background-color: transparent;
    border: none;
}

.cid-rVtXUpDj2u .card-wrapper {
    background-color: #ffffff;
    padding: 1rem;
    transition: all 0.3s;
}

.cid-rVtXUpDj2u .card-title,
.cid-rVtXUpDj2u .card-box {
    text-align: center;
}

.cid-rVtXUpDj2u .card-box {
    border: 1px solid transparent;
    padding: 0rem 1rem;
    transition: all 0.3s;
}

.cid-rVtXUpDj2u .mbr-iconfont {
    font-size: 3rem;
    color: #5758e0;
    min-width: 100px;
    margin-bottom: 2rem;
    display: block;
    background: -webkit-linear-gradient(#e5524e, #e5524e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

[class^="mbri-"],
[class*=" mbri-"] {
    font-family: MobiriseIcons !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mbri-up-down:before {
    content: "\e986";
}


/**,
 ::after,
 ::before {
    box-sizing: inherit;
}*/

.cid-rVtXUpDj2u .card-title {
    position: relative;
    cursor: pointer;
    color: #000000;
}

.display-7 {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.1rem;
}

.cid-rVtXUpDj2u .link {
    color: #999999;
    letter-spacing: 1px;
}

.display-4 {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 0.9rem;
}

a,
a:hover {
    text-decoration: none;
}

.cid-rVtXUpDj2u .card:hover {
    cursor: pointer;
}

.cid-rVtXUpDj2u .card-wrapper:hover {
    box-shadow: 0 30px 30px -20px rgb(50 50 50 / 30%);
}

.cid-rVtXUpDj2u .card:hover .card-box {
    border: 1px solid #c1c1c1;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
}

[class^="mobi-"],
[class*=" mobi-"] {
    font-family: 'Moririse2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.mobi-mbri-globe-2:before {
    content: "\e934";
}

.mobi-mbri-cust-feedback:before {
    content: "\e920";
}

.pt-1 {
    padding-top: 0rem!important;
}

.cid-rVtXUL8ZHi {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cid-rVtXUL8ZHi .card {
    padding: 0!important;
}

.cid-rVtXUL8ZHi .card:hover {
    cursor: pointer;
}

.cid-rVtXUL8ZHi .img-wrapper {
    position: relative;
    overflow: hidden;
}

.cid-rVtXUL8ZHi .card:hover .img-wrapper:before {
    opacity: 1;
}

.cid-rVtXUL8ZHi .img-wrapper:before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: #5758e0;
    transition: all 0.3s;
    content: '';
    pointer-events: none;
    z-index: 1;
}

.cid-rVtXUL8ZHi img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

img {
    vertical-align: middle;
    border-style: none;
}

.cid-rVtXUL8ZHi .card:hover .text-wrap {
    opacity: 1;
    transform: translateY(-50%);
}

.cid-rVtXUL8ZHi .text-wrap {
    position: absolute;
    transition: all 0.3s;
    left: auto;
    opacity: 0;
    padding: 2rem;
    width: 100%;
    top: 50%;
    z-index: 2;
    transform: translateY(-45%);
    margin-bottom: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-wrap {
    white-space: normal!important;
}

.cid-rVtXUL8ZHi .mbr-section-subtitle {
    color: #ffffff;
    margin-left: 92px;
}

.mbr-section-subtitle {
    line-height: 1.3;
}

.mbr-bold {
    font-weight: 700;
}

.cid-rVtXUL8ZHi .card-title {
    color: #ffffff;
}

.mbr-semibold {
    font-weight: 500;
}

.cid-rVtXUL8ZHi .card2:before {
    background: #f49846;
}

.align-center {
    text-align: center;
}

[class^="mbrib-"],
[class*="mbrib-"] {
    font-family: 'mobirise-icons-bold' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cid-rVtXUpDj2u .main-subtitle {
    color: #999999;
    width: 610px;
}

#fnt-ds:before {
    display: none;
}

.btn-social i {
    margin-top: 5px;
}

.flexslider .slides img {
    height: 100vh;
    object-fit: cover;
    margin: auto;
}

.cid-rVtXUpDj2u {
    padding-top: 30px;
}

.cid-rVtXUpDj2u .card {
    width: 350px;
}